body {
    background-color: rgb(27, 27, 27);
    text-align: justify;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1a1a1;
}

div.nav li {
    float: left;
}

div.nav li a {
    display: block;
    color: rgb(151, 151, 57);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav li a:hover:not(.active) {
    background-color: #ff0000;
}

.active {
    background-color: #ff0000;
}

h1 {
  color: rgb(255, 0, 0);
}

h2 {
  color: rgba(255, 255, 0, 0.714);
}

* {
color: rgb(151, 151, 57);
}

button {
  background-color: black;
  color: rgb(251, 255, 1);
}

img {
  border-radius: 5%;
  border:rgb(10, 44, 44) solid 3px;
}

input {
  background-color: rgb(255, 0, 0);
}
